.env

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log
*.sqlite3
*.db
*.DS_Store
*.coverage
.cache/
.mypy_cache/
.pytest_cache/
.tox/
.idea/
.vscode/
*.ipynb_checkpoints
mcp/.msal_token_cache
